name: test workflow 2

on:
  workflow_dispatch:

jobs:

  test-job:
    runs-on: windows-latest
    steps:
      - uses: lukka/run-vcpkg@v5
        with:
          setupOnly: true
          vcpkgGitCommitId: HEAD
      - run: vcpkg export --zip --out=test zlib
#       - uses: actions/upload-artifact@v2
#         with:
#           name: my-artifact
#           path: path/to/artifact/world.txt
